{% extends 'base/base.html' %}
{% block header %}
<html lang="en" class="h-100">

</html>

<head>
    <!-- Bootstrap core CSS -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        @media (max-width: 768px) {
            #etflistsdiv {
                font-size: xx-small;
            }
        }

        @media (max-width: 768px) {
            h5 {
                font-size: 1rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='etflist.css') }}" rel="stylesheet">

</head>
{% endblock %}
{% block content %}

<body class="d-flex h-100 text-center">

    <div class="cover-container overflow-auto d-flex w-100 h-100 px-auto mx-auto flex-column">
        <header class="mb-5">
            {% include 'index/menubar.html' %}
        </header>
        <main class="px-0  h-100">
            <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <div class="container h-50">
                <div class="row h-25 align-items-center">
                    <h5>전체 ETF 목록입니다.</h5>
                </div>
                <script type="text/javascript" src="/static/search.js"></script>
                {% if is_mobile == True %}
                    <div id="columnDiv" align="right">컬럼 변경: <a class="toggle-vis" origin-column="4" toggle-column="3">PER/PBR/ROE Avg&#8596;Type</a></div>
                    {% else %}
                    <div id="columnDiv" align="right">컬럼 변경: <a class="toggle-vis" origin-column="6" toggle-column="5">PER/PBR/ROE 평균&#8596;ETF 타입</a></div>
                    {% endif %}
                <div id=etflistsdiv>
                    <link rel="stylesheet" type="text/css"
                        href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
                    <script type="text/javascript" charset="utf8"
                        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js">
                        </script>
                    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js">
                    </script>
                    <script type="text/javascript" charset="utf8"
                        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js">
                        </script>
                    <script>
                        $('<div class="loading">Loading</div>').appendTo('#etflistsdiv');
                        $(document).ready(function () {
                            var table = $('#etflist').DataTable({
                                "initComplete": function (settings, json) {
                                    $('div.loading').remove();
                                },
                                "scrollX": true,
                                "columnDefs": [
                                    {
                                        "targets": {% if is_mobile == True %}[4]{% else %}[6]{% endif %},
                            "visible": false,
                            "searchable": false,
                            "orderable": false
                                    }]
                            });
                        $('a.toggle-vis').on('click', function (e) {
                            e.preventDefault();

                            // Get the column API object
                            let origincolumn = table.column($(this).attr('origin-column'));
                            let togglecolumn = table.column($(this).attr('toggle-column'));

                            // Toggle the visibility
                            origincolumn.visible(!origincolumn.visible());
                            togglecolumn.visible(!togglecolumn.visible());
                        });
                        });
                    </script>
                    
                    <table id="etflist" class="display compact" style="width:100%;">
                        <thead>
                            <tr>
                                {% if is_mobile == True %}
                                <th>ETF</th>
                                <th>3M(%)</th>
                                <th>12M(%)</th>
                                <th>Type</th>
                                <th>PER/PBR/ROE Avg</th>
                                {% else %}
                                <th>ETF</th>
                                <th>1개월 수익률(%)</th>
                                <th>3개월 수익률(%)</th>
                                <th>6개월 수익률(%)</th>
                                <th>12개월 수익률(%)</th>
                                <th>ETF 타입</th>
                                <th>PER/PBR/ROE 평균</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for etf in etflist %}
                            <tr>
                                <td>
                                    <a {% if is_mobile==True %} class="d-inline-block text-truncate"
                                        style="max-width: 7rem;" {% endif %}
                                        href="https://finance.daum.net/quotes/A{{etf['_id']}}#home">{{etf['_source']['etfName']}}</a>
                                </td>
                                <!--1M profit-->
                                {% if is_mobile == False %}
                                {% if etf['_source']['etfProfits']['etfProfit1M'] == None %}
                                <td style="color:gray">-</td>
                                {% elif etf['_source']['etfProfits']['etfProfit1M']|float < 0 %} <td style="color:blue">
                                    {{etf['_source']['etfProfits']['etfProfit1M']}}</td>
                                    {% else %}
                                    <td style="color:red">{{etf['_source']['etfProfits']['etfProfit1M']}}</td>
                                    {% endif %}
                                    {% endif %}
                                    <!--3M profit-->
                                    {% if etf['_source']['etfProfits']['etfProfit3M'] == None %}
                                    <td style="color:gray">-</td>
                                    {% elif etf['_source']['etfProfits']['etfProfit3M']|float < 0 %} <td
                                        style="color:blue">{{etf['_source']['etfProfits']['etfProfit3M']}}</td>
                                        {% else %}
                                        <td style="color:red">{{etf['_source']['etfProfits']['etfProfit3M']}}</td>
                                        {% endif %}
                                        {% if is_mobile == False %}
                                        <!--6M profit-->
                                        {% if etf['_source']['etfProfits']['etfProfit6M'] == None %}
                                        <td style="color:gray">-</td>
                                        {% elif etf['_source']['etfProfits']['etfProfit6M']|float < 0 %} <td
                                            style="color:blue">{{etf['_source']['etfProfits']['etfProfit6M']}}</td>
                                            {% else %}
                                            <td style="color:red">{{etf['_source']['etfProfits']['etfProfit6M']}}</td>
                                            {% endif %}
                                            {% endif %}
                                            <!--12M profit-->
                                            {% if etf['_source']['etfProfits']['etfProfit12M'] == None %}
                                            <td style="color:gray">-</td>
                                            {% elif etf['_source']['etfProfits']['etfProfit12M']|float < 0 %} <td
                                                style="color:blue">{{etf['_source']['etfProfits']['etfProfit12M']}}</td>
                                                {% else %}
                                                <td style="color:red">{{etf['_source']['etfProfits']['etfProfit12M']}}
                                                </td>
                                                {% endif %}
                                                <!--ETF Type-->
                                                <td>
                                                    {% for type in etf['_source']['etfTypes'] %}
                                                    {{ type['etfType'] }}{% if is_mobile == True %}<br>{% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if etf['fields']['perAvg'][0] != "NaN" and
                                                    etf['fields']['perAvg'][0] > 0 %}
                                                    {{ etf['fields']['perAvg'][0]|float|round(1,'floor') }} /
                                                    {% else %}
                                                    - /
                                                    {% endif %}
                                                    {% if etf['fields']['pbrAvg'][0] != "NaN" and
                                                    etf['fields']['pbrAvg'][0] > 0 %}
                                                    {{ etf['fields']['pbrAvg'][0]|float|round(1,'floor') }} /
                                                    {% else %}
                                                    - /
                                                    {% endif %}
                                                    {% if etf['fields']['roeAvg'][0] != "NaN" and
                                                    etf['fields']['roeAvg'][0] > 0 %}
                                                    {{ etf['fields']['roeAvg'][0]|float|round(1,'floor') }}
                                                    {% else %}
                                                    -
                                                    {% endif %}
                                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50">

        </footer>
    </div>
</body>
{% endblock %}


</html>