{% extends 'base/base.html' %}
{% block header %}
<html lang="en" class="h-100">

</html>

<head>
  <!-- Bootstrap core CSS -->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    @media (max-width: 768px) {
      h5 {
        font-size: 1rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

</head>
{% endblock %}
{% block content %}

<body class="d-flex h-100 text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-5">
      {% include 'index/menubar.html' %}
    </header>

    <main class="px-3  h-100">
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <div class="container h-50">
        <div class="row h-50 align-items-center">
          <h5>원하는 종목이 포함된 ETF를 찾습니다.</h5>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <input id="search-keyword" type="text" class="form-control" placeholder="검색어를 입력" aria-label="검색어를 입력"
              aria-describedby="button-addon2">
            <button class="btn btn-info" type="button" id="trigger-search">검색</button>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        // https://stackoverflow.com/questions/46752209/how-render-template-after-post-data-with-ajax-in-flask/46752440
        $('#trigger-search').click(function () {
          let value = $('#trigger-search').val()
          if (value.length > 0) {
            let keyword = $('#search-keyword').val()
            window.location.href = '/search/' + keyword;
          }
        })
        $(function () {
          $('#search-keyword').keypress(function (e) {
            if (e.which == 13) {
              //dosomething
              let keyword = $('#search-keyword').val()
              window.location.href = '/search/' + keyword;
            }
          })
        })
      </script>
    </main>
    <footer class="mt-auto text-black-50">
      <small>
        "모든 주식을 소유하라" <br>
        존 보글(John Bogle) <br>
        인덱스펀드 창시자(前 뱅가드그룹 회장)
      </small>
    </footer>
  </div>
</body>
{% endblock %}

</html>